@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* :root{
    --color-white: #fff
    --color-pink: #d12f7a
    --color-black: #000
} */

html{
    scroll-behavior: smooth;
    font-size: 10px;
}

body{
    font-family: 'Poppins', sans-serif;
}

#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 15px 30px;
    position: fixed;
    background: 'trasnparent';
    z-index: 2;
}

.header-title{
    text-decoration: none;
}

.header-title h1{
    color: white;
    font-size: 2rem;
    transition: opacity .3s ease;
}

.header-title h1:hover{
    opacity: .8;
}

.navbar{
    max-width: 350px;
    width: 100%;
}

.navbar ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navbar ul li{
    list-style: none;
}

.navbar ul li a{
    text-decoration: none;
    color: white;
    font-size: 1.4rem;
    font-weight: 700;
}

#person{
    background: black;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
}

.person-content{
    background: black;
    height: 70%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.person-content div h1{
    position: relative;
    color: transparent;
    padding: 0px 4px;
    width: fit-content;
    font-size: 4.5rem;
    line-height: 6rem;
    animation: written_text .5s ease forwards;
}

.person-content div h1:nth-child(1){
    animation-delay: .5s;
}

.person-content div h1:nth-child(2){
    animation-delay: 1.4s;
}

.person-content div h1:nth-child(3){
    animation: written_text_name .5s ease forwards;
    animation-delay: 2.3s;
}

.person-content div h1 span{
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 100%;
    background: #d2f161;
    animation: written_text_box 1s forwards reverse;
    animation-delay: 5s;
}

.person-content div h1:nth-child(1) span{
    animation-delay: .1s;
}
.person-content div h1:nth-child(2) span{
    animation-delay: 1s;
}
.person-content div h1:nth-child(3) span{
    animation-delay: 1.8s;
}

.person-name{
    margin-top: 11rem;
}

.stacks-content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 6rem;
}

.stacks-content h3{
    color: white;
    font-size: 1.15rem;
    margin-left: 20px;
}

.stacks{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.stacks ul li{
    display: flex;
    align-items: center;
    margin: 10px;
    padding: 10px;
    list-style: none;
    position: relative;
}

.stacks ul li img{
    width: 30px;
    height: auto;
    transition: transform .3s ease;
}

.stacks ul li div img:hover{
    transform: scale(1.2);
    cursor: pointer;
}

.stacks ul li div:hover::after{
    content: attr(data);
    position: absolute;
    top: 50px;
    left: 10px;
    width: 20px;
    height: 20px;
    color: white;
}

.person-background{
    position: relative;
    height: 100vh;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(./img/daniel-korpai-8GDCzWrcE3M-unsplash.jpg);
    background-size: cover;
    background-position: top center;
    z-index: 1;
}

.person-background::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: .7;
    z-index: -1;
    background: 
        linear-gradient(90deg, transparent 30%, black),
        linear-gradient(180deg, transparent 25%, black),
        linear-gradient(0deg, transparent 80%, black),
        linear-gradient(270deg, transparent 70%, black);
}

.wrapper-profile-photo {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px;
    margin: 20px 15px;
    border-radius: 50%;
    background:
        radial-gradient(rgba(0,0,0,0.15) 60%, transparent 0),
        radial-gradient(#000 68%, transparent 0),
        linear-gradient(to top right, #E3FF73 0%, #E27C39 100%);
}

.profile-photo{
    border-radius: 50%;
    width: 100%;
}

.links a img{
    width: 30px;
    height: 30px;
    margin: 10px;
    filter: brightness(.8);
    transition: all .3s ease;
}

.links a img:hover{
    transform: scale(1.15);
    filter: brightness(1);
}

/* Final da parte de cima */

#about{
    background: #000;
    height: 100vh;
    width: 100%;
    display: flex;
    color: white;
}

.background-about{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-wrapper{
    position: relative;
    height: 100%;
    width: 100%;
}

.img-wrapper::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: 
        linear-gradient(.25turn, transparent 40%, black),
        linear-gradient(.5turn, transparent 40%, black),
        linear-gradient(1turn, transparent 50%, black);
}

.img-wrapper img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.box-about{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    padding: 3rem;
}

.section-subtitle h2 p{
    display: inline-block;
    font-size: 3rem;
}

.section-subtitle h2 p:nth-child(2) span{
    padding: 3px 5px;
    border-radius: 4px;
    color: black;
    background: white;
}

.box-about h3{
    margin: 3rem;
    font-size: 2rem;
}

.box-about h3 p{
    display: inline-block;
    padding: 2px 4px;
    border-radius: 4px;
    width: fit-content;
    color: black;
    background-color: #d2f161;
}

.box-about h4{
    margin: 1rem 3rem;
    font-size: 1.5rem;
}

.box-about h4 p{
    display: inline-block;
    padding: 2px 4px;
    color: #00c0ce;
    font-size: bold;
    font-weight: 1.75rem;
}

.button-cta{
    display: flex;
    max-width: 190px;
    margin: 4rem 3rem;
}

.button-cta a{
    display: inline-block;
    width: 65%;
    max-width: 172px;
    padding: 10px;
    margin-bottom: 3rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    letter-spacing: .15rem;
    border-radius: 10px;
    cursor: pointer;
    opacity: .9;
    transition: 0.5s;
    background: white;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 1.3rem;
}

.button-cta a:hover{
    width: 100%;
    /* transform: scale(1.1); */
    opacity: 1;
    /* filter: brightness(1); */
    /* transition: all .4s ease; */
}

#contact{
    display: flex;
    flex-direction: column;
    height: 40vh;
    width: 100%;
    background-color: #000;
}

.contact-icon-content h2{
    margin: 3rem 3rem 3rem 0rem;
    padding: 1rem 1rem 1rem 0rem;
    font-size: 3rem;
    color: white;
}

.content-icons-wrapper{
    display: flex;
    align-items: center;
    flex-direction: row;
    color: white;
}

.contact-icon-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0rem 3rem;
    padding: 1rem;
}

.contact-icon{
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
    background: white;
    padding: 1rem;
    border-radius: 50%;
}

.contact-icon i{
    font-size: 2rem;
}

.contact-info span{
    font-size: 1.2rem;
    font-weight: bold;
}

.contact-info p{
    margin: .25rem 0rem;
}

.contact-info a{
    display: block;
    margin: .25rem 0rem;
    text-decoration: none;
    color: white;
}

.contact-info a:hover{
    transition: color .3s ease;
    color: #00c0ce;
}

#footer{
    height: 15vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    background: #191919;
}

.container-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}


@keyframes written_text{
    100%{
        color: white;
    }
}

@keyframes written_text_name{
    100%{
        color: #00c0ce;
    }
}

@keyframes written_text_box{
    50%{
        width: 100%;
        left: 0%;
    }
    100%{
        width: 1px;
        left: 100%;
    }
}
